:root {
  /* Colors */
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #ffffff;
  --color-red: #ea5454;
  --color-cyan: #44d3d2;
  --color-blue: #549ef2;
  --color-orange: #fcae4a;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-grey-500);
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

a {
  color: var(--color-grey-500);
}
a:hover {
  color: var(--color-orange);
  cursor: pointer;
}

/* UTILITY CLASSES */

/* TYPOGRAPHY */
.text-preset-5 {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0px;
  font-weight: 400;
}
.text-preset-4 {
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0px;
  font-weight: 400;
}
.text-preset-3 {
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 0px;
  font-weight: 600;
}
.text-preset-2 {
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 200;
}
.text-preset-1 {
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 600;
}

/* Images */
.img-container {
  width: min(64px, 100%);
}

/* Mobile First Approach design rules */
/* Title wrapper */
.title-wrapper {
  width: min(500px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-200);
  margin-inline: auto;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  margin: var(--spacing-500) 0;
}

.content {
  padding: var(--spacing-400);
  width: min(300px, 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacing-400);
  border-radius: var(--spacing-100);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  align-items: center;
}

.cards-wrapper > .content:nth-child(1) {
  border-top: 6px solid var(--color-cyan);
}

.flex-col > .content:nth-child(1) {
  border-top: 6px solid var(--color-red);
}

.flex-col > .content:nth-child(2) {
  border-top: 6px solid var(--color-orange);
}

.cards-wrapper > .content:nth-child(3) {
  border-top: 6px solid var(--color-blue);
}

.content .img-container {
  align-self: flex-end;
}
